<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://kit.fontawesome.com/749211d7c1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../styles/nav-style.css">
    <link rel="stylesheet" href="../styles/menu-style.css">
    <link rel="stylesheet" href="../styles/dashboard-style.css">
</head>
<body>

    <!--NAVIGATION-->
    <nav>
        <div class="nav-container">
            <div class="logo-area">
                <img src="../img/logo.png" class="logo">
                <h1>ColaboraIFB</h1>
            </div>

            <div class="search-bar">
                <input type="search" placeholder="Search">
                <span class="material-icons-sharp">search</span>
            </div>

            <div class="profile-area">
                <div class="notification-btn">
                    <button><span class="material-icons-sharp">notifications</span></button>
                    <!--COLOCAR JAVASCRIPT // INTERAÇÃO COM O BOTÃO DE NOTIFICAÇÕES-->
                </div>

                <div class="profile">
                    <div class="profile-photo">
                        <img src="../img/profile-photo.png">
                    </div>
                    <h5>Usuário</h5>
                    <span class="material-icons-sharp">expand_more</span>
                    <!--COLOCAR JAVASCRIPT // INTERAÇÃO COM O BOTÃO DE DROPDOWN-->
                </div>
            </div>
        </div>
    </nav>
    
    <!--MAIN-->
    <main> 
        <!--MENU-->
        <aside>
            <div class="sidebar">
                <a href="dashboard.html">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="calendário.html">
                    <span class="material-icons-sharp">calendar_month</span>
                    <h3>Calendário</h3>
                </a>
                <a href="cursos.html">
                    <span class="material-icons-sharp">book</span>
                    <h3>Cursos</h3>
                </a>
                <a href="atividades.html">
                    <span class="material-icons-sharp">attach_file</span>
                    <h3>Atividades</h3>
                </a>
                <a href="externos.html">
                    <span class="material-icons-sharp">cast_for_education</span>
                    <h3>Externos</h3>
                </a>
        
                <a href="../index.html">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Sair</h3>
                </a>
            </div>
        </aside>

        <!--SECTION MIDDLE-->
        <section id="middle">
            <h1>Sites Externos</h1>

            <!-- CARDS DOS SISTEMAS EXTERNOS -->
            <div class="external-card-container">
                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">book</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Nead - IFB</h4>
                    </div>
                </div>

                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">school</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Portal</h4>
                    </div>
                </div>

                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">local_library</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Biblioteca</h4>
                    </div>
                </div>

                
                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">mail_outline</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Email - IFB</h4>
                    </div>
                </div>
            </div>

            <!-- CARDS DOS CURSOS -->
            <h1 id="course-title">Cursos</h1>

            <div class="course-card-container">
                <div class="course-card">
                    <div class="acess-button">
                        <span class="material-icons-sharp">navigate_next</span>
                    </div>

                    <div class="card-title">
                        <img src="../img/rdc-dashboard.jpg" alt="">
                        <div class="course-title">
                            <h4>Redes de Computadores</h4>
                            <div class="professor">
                                <span class="material-icons-sharp">person</span>
                                <h5>Diogénes Reis</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-legend">
                        <div>
                            <div class="course-information">
                                <span class="material-icons-sharp">calendar_today</span>
                                <h5>Segunda</h5>
                            </div>
                            <div class="course-information">
                                <span class="material-icons-sharp">timer</span>
                                <h5>14:00 - 18:00</h5>
                            </div>
                        </div>

                        <div>
                            <div class="course-information">
                                <span class="material-icons-sharp">calendar_today</span>
                                <h5>Segunda</h5>
                            </div>
                            <div class="course-information">
                                <span class="material-icons-sharp">timer</span>
                                <h5>14:00 - 18:00</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-card">
                    <div class="acess-button">
                        <span class="material-icons-sharp">navigate_next</span>
                    </div>

                    <div class="card-title">
                        <img src="../img/cpi-dashboard.jpg" alt="">
                        <div class="course-title">
                            <h4>Construção de Páginas</h4>
                            <div class="professor">
                                <span class="material-icons-sharp">person</span>
                                <h5>Tiago Segato</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-legend">
                        <div>
                            <div class="course-information">
                                <span class="material-icons-sharp">calendar_today</span>
                                <h5>Quinta</h5>
                            </div>
                            <div class="course-information">
                                <span class="material-icons-sharp">timer</span>
                                <h5>14:00 - 18:00</h5>
                            </div>
                        </div>

                        <div>
                            <div class="course-information">
                                <span class="material-icons-sharp">calendar_today</span>
                                <h5>Quinta</h5>
                            </div>
                            <div class="course-information">
                                <span class="material-icons-sharp">timer</span>
                                <h5>14:00 - 18:00</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-card">
                    <div class="acess-button">
                        <span class="material-icons-sharp">navigate_next</span>
                    </div>

                    <div class="card-title">
                        <img src="../img/rdc-dashboard.jpg" alt="">
                        <div class="course-title">
                            <h4>Redes de Computadores</h4>
                            <div class="professor">
                                <span class="material-icons-sharp">person</span>
                                <h5>Diogénes Reis</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-legend">
                        <div>
                            <div class="course-information">
                                <span class="material-icons-sharp">calendar_today</span>
                                <h5>Segunda</h5>
                            </div>
                            <div class="course-information">
                                <span class="material-icons-sharp">timer</span>
                                <h5>14:00 - 18:00</h5>
                            </div>
                        </div>

                        <div>
                            <div class="course-information">
                                <span class="material-icons-sharp">calendar_today</span>
                                <h5>Segunda</h5>
                            </div>
                            <div class="course-information">
                                <span class="material-icons-sharp">timer</span>
                                <h5>14:00 - 18:00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TABELA DE ATIVIDADES -->
            <div class="task-table-container">
                <h1>Atividades</h1>
                <table>
                    <thead>
                        <tr class="task-title">
                            <th>ATIVIDADE</th>
                            <th>CURSO</th>
                            <th>TIPO</th>
                            <th>INICIO</th>
                            <th>ENTREGA</th>
                            <th>STATUS</th>
                            <th>NOTA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5>Projeto Final de CPI</h5>
                            </td>
                            <td>
                                <h5>Construção de Páginas</h5>
                            </td>
                            <td>
                                <h5>Prova</h5>
                            </td>
                            <td>
                                <h5>27/01/22</h5>
                            </td>
                            <td>    
                                <h5>06/02/22</h5>
                            </td>
                            <td class="task-delivery">
                                <span class="material-icons-sharp complete">check_circle</span>
                                <h5>Entregue</h5>
                            </td>
                            <td>
                                <h5>4.0</h5>
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>
                                <h5>Prova de Computação</h5>
                            </td>
                            <td>
                                <h5>Introdução a Computação</h5>
                            </td>
                            <td>
                                <h5>Prova</h5>
                            </td>
                            <td>
                                <h5>02/02/22</h5>
                            </td>
                            <td>
                                <h5>02/02/22</h5>
                            </td>
                            <td class="task-delivery">
                                <span class="material-icons-sharp complete">check_circle</span>
                                <h5>Entregue</h5>
                            </td>
                            <td>
                                <h5>100</h5>
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>
                                <h5>Exame Final de Redes</h5>
                            </td>
                            <td>
                                <h5>Redes de Computadores</h5>
                            </td>
                            <td>
                                <h5>Prova</h5>
                            </td>
                            <td>
                                <h5>31/01/22</h5>
                            </td>
                            <td>
                                <h5>31/01/22</h5>
                            </td>
                            <td class="task-delivery">
                                <span class="material-icons-sharp complete">check_circle</span>
                                <h5>Entregue</h5>
                            </td>
                            <td>
                                <h5>40%</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="right">
            <div class="calendar">
                <h3>Janeiro 2022</h3>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FSao_Paulo&src=Z2VvdmFuaS5zaWx2YUBlc3R1ZGFudGUuaWZiLmVkdS5icg&src=Y19jbGFzc3Jvb20yNjFhM2E0OUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230047a8" " width="290" height="220" frameborder="1" scrolling="no"></iframe>
            </div>

            <div class="aulas">
                <h3>Aulas síncronas</h3>
                <h5>Segunda, 24 de Janeiro</h5>

                <div class="day-option">
                    <button id="dia">Hoje</button>
                    <span class="material-icons-sharp">expand_more</span>
                </div>

                <div class="day-class">
                    <h6 id="class-start">14:00</h6>
                    <div class="class-option">
                        <h5>Redes de computadores</h5>
                        <div class="class-information">
                            <span class="material-icons-sharp">watch_later</span>
                            <h6>4 horas</h6>
                        </div>
                        <div class="class-information">
                            <span class="material-icons-sharp">person</span>
                            <h6>Diógenes</h6>
                        </div>
                    </div>
                    <h6 id="class-end">18:00</h6>

                    <div class="class-active">
                        <h5>Redes de computadores</h5>
                        <div class="class-active-icons">
                            <div>
                                <div class="class-active-information">
                                    <span class="material-icons-sharp">person</span>
                                    <h6>Diógenes</h6>
                                </div>
                                <div class="class-active-information">
                                    <span class="material-icons-sharp">watch_later</span>
                                    <h6>14:00 - 18:00</h6>
                                </div>
                            </div>

                            <div>
                                <div class="class-active-information">
                                    <span class="material-icons-sharp">calendar_today</span>
                                    <h6>Seg, Janeiro 24</h6>
                                </div>
                                <div class="class-active-information">
                                    <span class="material-icons-sharp">exit_to_app</span>
                                    <h6>Google Meet</h6>
                                </div>
                            </div>
                        </div>
                        <a href="http://meet.google.com/yno-qynd-uee" target="_blank">Entrar na aula</a>
                    </div>  
                </div>
            </div>
        </section>
    </main>
    <script src="../scripts/dashboard.js"></script>
    <script src="../scripts/menu.js"></script>
</body>
</html>