<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas Externos</title>
    <script src="https://kit.fontawesome.com/749211d7c1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../styles/nav-style.css">
    <link rel="stylesheet" href="../styles/menu-style.css">
    <link rel="stylesheet" href="../styles/externos-style.css">
</head>
<body>
    <!--NAVIGATION-->
    <nav>
        <div class="nav-container">
            <div class="logo-area">
                <img src="../img/logo.png" class="logo">
                <h1>ColaboraIFB</h1>
            </div>

            <div class="search-bar">
                <input type="search" placeholder="Buscar">
                <span class="material-icons-sharp">search</span>
            </div>

            <div class="profile-area">
                <div class="notification-btn">
                    <button><span class="material-icons-sharp">notifications</span></button>
                    <!--COLOCAR JAVASCRIPT // INTERAÇÃO COM O BOTÃO DE NOTIFICAÇÕES-->
                </div>

                <div class="profile">
                    <div class="profile-photo">
                        <img src="../img/profile-photo.png">
                    </div>
                    <h5>Usuário</h5>
                    <span class="material-icons-sharp">expand_more</span>
                    <!--COLOCAR JAVASCRIPT // INTERAÇÃO COM O BOTÃO DE DROPDOWN-->
                </div>
            </div>
        </div>
    </nav>
    
    <!--MAIN-->
    <main> 
        <!--MENU-->
        <aside>
            <div class="sidebar">
                <a href="dashboard.html">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="calendário.html">
                    <span class="material-icons-sharp">calendar_month</span>
                    <h3>Calendário</h3>
                </a>
                <a href="cursos.html">
                    <span class="material-icons-sharp">book</span>
                    <h3>Cursos</h3>
                </a>
                <a href="atividades.html">
                    <span class="material-icons-sharp">attach_file</span>
                    <h3>Atividades</h3>
                </a>
                <a href="externos.html">
                    <span class="material-icons-sharp">cast_for_education</span>
                    <h3>Externos</h3>
                </a>
        
                <a href="../index.html">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Sair</h3>
                </a>
            </div>
        </aside>

        <!--EXTERNAL SYSTEMS-->
        <section id="external-systems">
            <div class="external-card-container">
                <div class="external-card">
                    <img src="../img/LogoNead.png" alt="">
                    <h3>Nead</h3>
                </div>
                <div class="external-card">
                    <span class="material-icons-sharp">school</span>
                    <h3>Portal do Estudante</h3>
                </div>
                <div class="external-card">
                    <span class="material-icons-sharp">menu_book</span>
                    <h3>Biblioteca</h3>
                </div>
                <div class="external-card">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>E-mail</h3>
                </div>
            </div>
            <footer>
                <a href="https://github.com/GeovaniSS">
                    <p>&copy;2022 - Desenvolvido por Geovani Silva</p>
                </a>
            </footer>
        </section>
    </main>
    <script src="../scripts/menu.js"></script>
    <script src="../scripts/external.js"></script>
</body>
</html>