<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes de Computadores</title>
    <script src="https://kit.fontawesome.com/749211d7c1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../styles/nav-style.css">
    <link rel="stylesheet" href="../styles/menu-style.css">
    <link rel="stylesheet" href="../styles/rdc-style.css">
</head>
<body>
     <!--NAVIGATION-->
     <nav>
        <div class="nav-container">
            <div class="logo-area">
                <img src="../img/logo.png" class="logo">
                <h1>ColaboraIFB</h1>
            </div>

            <div class="search-bar">
                <input type="search" placeholder="Buscar">
                <span class="material-icons-sharp">search</span>
            </div>

            <div class="profile-area">
                <div class="notification-btn">
                    <button><span class="material-icons-sharp">notifications</span></button>
                    <!--COLOCAR JAVASCRIPT // INTERAÇÃO COM O BOTÃO DE NOTIFICAÇÕES-->
                </div>

                <div class="profile">
                    <div class="profile-photo">
                        <img src="../img/profile-photo.png">
                    </div>
                    <h5>Usuário</h5>
                    <span class="material-icons-sharp">expand_more</span>
                    <!--COLOCAR JAVASCRIPT // INTERAÇÃO COM O BOTÃO DE DROPDOWN-->
                </div>
            </div>
        </div>
    </nav>

    <!--MAIN-->
    <main> 
        <!--MENU-->
        <aside>
            <div class="sidebar">
                <a href="dashboard.html">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">calendar_month</span>
                    <h3>Calendário</h3>
                </a>
                <a href="cursos.html">
                    <span class="material-icons-sharp">book</span>
                    <h3>Cursos</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">attach_file</span>
                    <h3>Atividades</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">cast_for_education</span>
                    <h3>Externos</h3>
                </a>
        
                <a href="../index.html">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Sair</h3>
                </a>
            </div>
        </aside>

        <section id="course-details">
            <div id="course-header">
                <span class="material-icons-sharp">arrow_back</span>
                <h2>Curso</h2>
                <h1>Redes de Computadores</h1>
            </div>
            <div class="external-card-container">
                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">book</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Nead - IFB</h4>
                    </div>
                </div>

                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">school</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Portal</h4>
                    </div>
                </div>

                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">local_library</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Biblioteca</h4>
                    </div>
                </div>

                
                <div class="external-card">
                    <div class="card-icon">
                        <span class="material-icons-sharp">mail_outline</span>
                    </div>
                    <div class="card-content">
                        <h5>ACESSAR</h5>
                        <h4>Email - IFB</h4>
                    </div>
                </div>
            </div>
            </div>

            <section id="center">
                <div class="class-table-container">
                    <table>
                        <thead>
                            <tr class="task-title">
                                <th>VIDEOAULA</th>
                                <th>TIPO</th>
                                <th>DATA</th>
                                <th>PRESENÇA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>
    
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>
    
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>
                                    <h5>Capítulo 8 - Divisão de Rede IP em Sub-redes</h5>
                                </td>
                                <td>
                                    <h5>Assíncrona</h5>
                                </td>
                                <td>    
                                    <h5>06/02/22</h5>
                                </td>
                                <td class="task-delivery">
                                    <span class="material-icons-sharp complete">check_circle</span>
                                    <h5>Presente</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <aside class="next-tasks">
                    <div class="next-tasks-header">
                        <h3>Próximas <br> Atividades</h3>
                        <img src="../img/tasks.png" alt="">
                    </div>
                    <div class="next-tasks-content">
                        <h5>20 de Dezembro</h5>
                        <h4>Exame dos Módulos 8-10</h4>
                        <span id="task-color">Atividade</span>
                    </div>
                </aside>
            </section>
        </section>
    </main>

    <script src="../scripts/menu.js"></script>
</body>
</html>