@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

main {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 50px;
}

/*================== TASK OPTIONS ==================*/

section#middle .task-table-container {
    padding: 25px 0;
}

section#middle .task-table-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

section#middle .task-table-header .create-task-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #14A883;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 10px 20px;
}

section#middle .create-task-button span, .create-task-button h4 {
    color: #fff;
}

section#middle .create-task-button h4 {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 1px;
}

section#middle .task-options-area {
    display: flex;
    align-items: center;
    gap: 35px;
}

section#middle .task-options-area span, h4, h5{
    color: #525359;
}

section#middle .task-options-area h5 {
    font-size: 16px;
}

section#middle .task-filter {
    display: flex;
    gap: 5px;
}

section#middle .task-results-area {
    display: flex; 
    align-items: center;
    gap: 10px;
}

section#middle .task-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: #fff;
}

/*================== TASK TABLE ==================*/

table {
    width: 80%;
    border-collapse: collapse; /*remove o espaço entre as bordas da tabela*/
    border-spacing: 0;
}

table thead {
    background: linear-gradient(to right, rgba(29,233,182, 10%), rgba(29,233,182, 10%));
    height: 40px;
    text-transform: uppercase;
}

thead th:first-child {
    border-radius: 100px 0 0 200px;
}

thead th:last-child {
    border-radius: 0 100px 200px 0;
}

table thead th {
    font-family: 'Noto Sans';
    letter-spacing: 6%;
    font-size: 15px;
    color: #14A883;
    font-weight: bold;
}

table tbody {
    background-color: #fff;
    border-top: 15px solid var(--bg-color);
}

table tbody td {
    height: 47px;
    text-align: center;
}

table tbody td:first-child {
    border-radius: 16px 0 0 16px;
}

table tbody td:last-child {
    border-radius: 0 16px 16px 0;
}

table tbody:last-child td:first-child {
    border-radius: 16px 0 0 8px;
}

table tbody:last-child td:last-child {
    border-radius: 0 16px 8px 0;
}

table h5 {
    font-family: 'Noto Sans';
    font-size: 15px;
    color: #333436;
}

table tbody .task-delivery{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

table tbody span.complete {
    color: #1DE9B6;
}

table tbody span.no-complete {
    color: rgb(255, 73, 73);
}


/*================== FOOTER ==================*/

footer {
    position: fixed;
    bottom: 0;
    width: 65.5%;
    margin-bottom: 3px;
    border-top: 1px solid #CAD0D6;
}

footer a {
    color: #555555;
}

footer a:hover {
    color: #0D6952;
}