@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

/*=================== MAIN ==================== */

main {
    display: grid;
    grid-template-columns: 18.75rem auto 18.75rem;
    gap: 3rem; 
}

/*=================== SECTION MIDDLE ==================== */

/*=========== EXTERNAL CARDS ===========*/

main section#middle .external-card-container {
    display: flex; 
    justify-content: space-between;
}

main section#middle .external-card {
    cursor: pointer;
    width: 14.5rem;
    height: 5.5rem;
    padding: 1.8rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.11);
    margin: 20px 0;  
}

main section#middle .external-card .card-icon {
    flex: 1; 
}

main section#middle .external-card .card-icon span {
    font-size: 35px;
}

main section#middle .external-card .card-content {
    flex: 2; 
}

/*===========  COURSE CARDS ===========*/

#course-title {
    margin-top: 30px;
}

.course-card-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.course-card {
    cursor: pointer;
    width: 21.875rem;
    height: 14.25rem;
    border-radius: 12px;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.course-card .acess-button {
    align-self: flex-end;
}

.course-card .card-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 15px;
}

.course-card .card-title > img {
    width: 25%;
    border-radius: 16px;
}

.course-card .card-title .course-title {
    display: flex; 
    flex-direction: column;
    gap: 5px;
}

.course-card .card-title .course-title .professor {
    display: flex; 
    align-items: center;
    gap: 2px;
}

.course-card .card-legend {
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.course-card .card-legend .course-information {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 12px 5px; 
}

/*=========== TASK TABLE ===========*/

.task-table-container h1 {
    margin-top: 30px; 
}

table {
    margin-top: 10px; 
    width: 100%;
    border-collapse: collapse; /*remove o espaço entre as bordas da tabela*/
    border-spacing: 0;
}

table thead {
    background: linear-gradient(to right, rgba(29,233,182, 10%), rgba(29,233,182, 10%));
    height: 33px;
}

thead th:first-child {
    border-radius: 100px 0 0 200px;
}

thead th:last-child {
    border-radius: 0 100px 200px 0;
}

table thead th {
    font-family: 'Noto Sans';
    letter-spacing: 6%;
    font-size: 14px;
    color: #14A883;
    font-weight: bold;
}

table tbody {
    background-color: #fff;
    border-top: 12px solid var(--bg-color);
}

table tbody td {
    height: 47px;
    text-align: center;
}

table tbody td:first-child {
    border-radius: 16px 0 0 16px;
}

table tbody td:last-child {
    border-radius: 0 16px 16px 0;
}

table tbody:last-child td:first-child {
    border-radius: 16px 0 0 8px;
}

table tbody:last-child td:last-child {
    border-radius: 0 16px 8px 0;
}

table h5 {
    font-family: 'Noto Sans';
    font-size: 14px;
    color: #525359;
}

table tbody .task-delivery{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

table tbody .task-delivery > span {
    color: #1DE9B6;
}

/*=================== SECTION RIGHT ==================== */

section#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    gap: 20px;
}

.calendar {
    width: 290px;
    height: 250px;
    background-color: #fff;   
    border-radius: 12px; 
}

/*=========== AULAS SÍNCRONAS ===========*/

.aulas {
    position: relative;
    width: 300px;
    height: 514px;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
}

.aulas h3 {
    margin-bottom: 5px;
}

.aulas h5 {
    font-style: italic;
}

.day-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute; 
    top: 5%;
    right: 6%;
}

.day-class {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.day-class .class-option {
    background-color: #F0F0F0;
    padding: 10px;
    margin: 2px 0 2px 20px;
    border-left: 5px solid #14A883;
}

.day-class .class-option .class-information {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0; 
}

.day-class .class-option > h5 {
    font-size: 14px;
    font-family: 'Noto Sans';
    font-style: normal;
    color: #14A883;
    font-weight: bold;
}

.day-class .class-option .class-information > h6 {
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: normal;
}

.day-class h6#class-end {
    margin-bottom: 5px;
}

/*=========== AULAS SELECIONADA ===========*/

.class-active {
    display: none; /*ADICIONAR JAVASCRIPT*/
    flex-direction: column;
    background-color: #F0F0F0;
    border-radius: 15px;
    padding: 10px;
}

.class-active h5 {
    font-style: normal;
    font-weight: bold;
    color: #14A883;
}

.class-active-icons {
    display: flex;
    justify-content: space-between;
}

.class-active-information {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0px; 
}

.class-active-information h6 {
    font-weight: normal;
    font-size: 12px;
}

.class-active a {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #14A883;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.219);
    padding: 10px;
    border-radius: 8px;
    color: #fff;
}

.class-active a:hover {
    background-color: #118f6fc5;
}


/*=========== FOOTER ===========*/
footer {
    width: 63.5%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CAD0D6;
}

footer a {
    color: #555555;
}

footer a:hover {
    color: #0D6952;
}