@charset "UTF-8"; 

body {
    overflow-y: hidden;
}

/*============ MAIN ============ */
main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 50px;
    margin-right: 50px;
}

/*============ EXTERNAL CARDS ============ */
.external-card-container {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.external-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: 13rem;
    background-color: #0D6952;
    text-transform: uppercase;
    box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    transition: 0.5s;
}

.external-card img {
    width: 15rem;
}

.external-card span {
    font-size: 10rem;
    color: #fff;
}

.external-card h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -5.5%;
    color: #fff;
}

.external-card:hover {
    margin-top: -1rem;
}

/*================== FOOTER ==================*/
footer {
    margin-top: 34rem;
    grid-column: 2/4;
    border-top: 1px solid #CAD0D6;
}

footer a {
    color: #555555;
}