main {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 50px;
    margin-right: 50px;
}

.external-card-container {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.external-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: 13rem;
    background-color: #0D6952;
    text-transform: uppercase;
    box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
}

.external-card img {
    width: 15rem;
}

.external-card span {
    font-size: 10rem;
    color: #fff;
}

.external-card h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -5.5%;
    color: #fff;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 3px;
    border-top: 1px solid #CAD0D6;
}

footer a {
    color: #555555;
}

footer a:hover {
    color: #0D6952;
}