nav .nav-container {
    z-index: 1;
}

main {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 50px;
    margin-right: 50px;
}

/*================= COURSE HEADER =================== */

main section#course-details .course-header {
    width: 100%;
    background: linear-gradient(to bottom, rgba(20, 168, 131, 20%), rgba(20,168,131));
    color: #fff;
    font-family: 'Noto Sans';
    margin: 0 -50px;
    padding: 100px 50px 80px;
    top: 0;
    position: absolute;
}

.course-header span {
    margin-bottom: 10px;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
}

.course-header h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 3px;
}

.course-header h1 {
    font-size: 42px;
    letter-spacing: 2px;
}

/*================= EXTERNAL CARDS =================== */

main section#course-details .external-card-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.external-card {
    cursor: pointer;
    width: 15rem;
    height: 6rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.11);
    margin: 25px 0;
}

.external-card .card-icon {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.external-card .card-icon span {
    font-size: 38px;
}

.external-card:last-child .card-icon span {
    transform: rotate(35deg);
}

.external-card .card-content {
    flex: 2; 
}

/*=================== SECTION CENTER ======================*/

main section#course-classes {
    display: grid;
    grid-template-columns: auto 300px;
    padding: 10px 55px;
}

/*=========== CLASS TABLE ===========*/

main section#course-classes .class-table-container {
    margin-right: 50px;
}

table {
    margin: 10px;
    width: 100%;
    border-collapse: collapse; /*remove o espaço entre as bordas da tabela*/
    border-spacing: 0;
}

table thead {
    background: linear-gradient(to right, rgba(29,233,182, 10%), rgba(29,233,182, 10%));
    height: 33px;
    text-align: center;
}

thead th:first-child {
    border-radius: 100px 0 0 200px;
}

thead th:last-child {
    border-radius: 0 100px 200px 0;
}

table thead th {
    font-family: 'Noto Sans';
    letter-spacing: 1px;
    font-size: 14px;
    color: #14A883;
    font-weight: bold;
}

table tbody {
    background-color: #fff;
    border-top: 12px solid var(--bg-color);
}

table tbody td {
    height: 47px;
    text-align: center;
}

table tbody td:first-child {
    border-radius: 16px 0 0 16px;
}

table tbody td.class-attendance {
    border-radius: 0 16px 16px 0;
}

table tbody:last-child td:first-child {
    border-radius: 16px 0 0 8px;
}

 table tbody:last-child td:last-child {
    border-radius: 0 16px 8px 0;
}

table h5 {
    font-family: 'Noto Sans';
    font-size: 14px;
    color: #525359;
}

table tbody td.class-attendance{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

table tbody td.class-attendance > span {
    color: #1DE9B6;
}

table tbody td.class-attendance span.noattendance {
    justify-self: stretch;
    color: rgb(255, 73, 73);
}

table tbody td.class-attendance > h5.icon-center{
    padding-right: 25px;
}

/*=========== NEXT TASKS ===========*/

main section#course-classes .next-tasks{
    margin: 32px 50px 0 0;
    width: 300px;
    height: 30rem;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
}

.next-tasks-header {
    width: 100%;
}

.next-tasks-header h3 {
    position: absolute;
    left: 8%;
    top: 12%;
    text-align: center;
    font-size: 1.4rem;
}

.next-tasks-header img {
    position: absolute;
    top: -5%;
    left: 15%;
    width: 350px;
}

.next-tasks-container {
    margin: 200px 20px;
}

.next-tasks-content {
    width: 100%;
    margin-bottom: 20px;
}

.next-tasks-content h5 {
    font-size: 14px;
    font-family: 'Noto Sans';
    color: #525359;
}

.next-tasks-content h4 {
    font-weight: bold;
    font-family: 'Noto Sans';
    color: #525359;
}

.next-tasks-content .task-type {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(149, 255, 122, 51%);
    text-transform: uppercase;
    padding: 2px 8px;
    color: #525359;
    border-radius: 12px;
}

.next-tasks-content .task-type.test {
    background-color: rgba(253, 0, 0, 30%);
}

/*=========== NEXT TASKS - BUTTON ===========*/
.task-view-button {
    position: absolute;
    bottom: 2%;
    right: 3%;
    font-size: 14px;
}

.task-view-button a {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: #14A883;
    color: #fff;
}

.task-view-button a:hover {
    background-color: #0e6952c9;
}

/*================== FOOTER ==================*/

footer {
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #CAD0D6;
}

footer a {
    color: #555555;
}

footer a:hover {
    color: #0D6952;
}